body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background: #1976d2;
    color: white;
    padding: 15px 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
}