<p>todo-list works!</p>
<div class="todo-list-container">

    <div class="header">
        <h2>My Todos</h2>

        <button routerLink="/add-todo" class="add-btn">
            + Add Todo
        </button>
    </div>

    <div class="todo-card">

        <div class="todo-item">
            <div>
                <h3>Learn Angular Routing</h3>
                <p>Create routes and navigation.</p>
            </div>

            <span class="status pending">
                Pending
            </span>
        </div>

        <div class="todo-item">
            <div>
                <h3>Build REST API</h3>
                <p>Create Todo CRUD endpoints.</p>
            </div>

            <span class="status completed">
                Completed
            </span>
        </div>

        <div class="todo-item">
            <div>
                <h3>Setup CI/CD</h3>
                <p>Deploy application to Azure.</p>
            </div>

            <span class="status pending">
                Pending
            </span>
        </div>

    </div>

</div>